.primary {
    background-color: rgb(102, 102, 102);
    color: white;
}

.icon-primary {
    color: rgb(102, 102, 102);
}

.img-fluid {
    border-radius: 50%;
    border-color: rgb(102, 102, 102);
}