<div class="container-fluid">

    <div class="container">
        <form class="w-100 pt-3" [formGroup]="formObject">
            <h3>Administrar inicio</h3>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label>Descripción</label>
                        <quill-editor formControlName="description" [styles]="{height: '200px'}"></quill-editor>
                    </div>
                </div>

                <div class="col-md-8 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Logo
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <angular-file-uploader [config]="afuConfigThumb" (ApiResponse)="responseFile($event, 'logo', false)">
                                    </angular-file-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Logo vista previa
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <img [src]="gethtmlImage(imagesObject.logo)" onerror="this.src='assets/no-product.png';" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8" style="margin-top: 1em;">
                    <div class="form-group mb-3">
                        <label>Título carrousel</label>
                        <input type="text" class="form-control" placeholder="Título carrousel" formControlName="slideTitle">
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Fotos carrusel
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFile($event, 'slideImages', true)">
                                    </angular-file-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Fotos carrusel vista previa
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4" *ngFor="let image of imagesObject.slideImages">
                                    <button type="button" class="btn btn-danger btn-sm round" (click)="deleteImage(image, 'slideImages')">
                                        <i class="fa fa-times text-white"></i>
                                    </button>
                                    <img [src]="gethtmlImage(image)" onerror="this.src='assets/no-product.png';" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LUNES -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Lunes
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'monday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.monday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el lunes
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.monday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'monday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- MARTES -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Martes
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'tuesday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.tuesday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el martes
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.tuesday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'tuesday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- MIERCOLES -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Miércoles
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'wednesday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.wednesday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el miércoles
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.wednesday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'wednesday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- JUEVES -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Jueves
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'thursday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.thursday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el jueves
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.thursday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'thursday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- viernes -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Viernes
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'friday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.friday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el viernes
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.friday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'friday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Sábado -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Sábado
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'saturday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.saturday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el sábado
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.saturday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'saturday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- DOMINGO -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Horarios Domingo
                        </div>
                        <div class="card-body">
                            <form class="w-100 pt-3" [formGroup]="formObjectDay" >
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Desde </label>
                                            <input type="time" name="time" class="form-control" formControlName="timeFrom">
                                            <label>Hasta</label>
                                            <input type="time" name="time" class="form-control" formControlName="timeTo">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <div class="form-group mb-3">
                                            <label>Título del evento</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <label>Imagen</label>
                                        <div class="row">
                                            <div class="col">
                                                <angular-file-uploader [config]="afuConfigThumbMultiple" (ApiResponse)="responseFileDays($event)">
                                                </angular-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4">
                                        <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObjectDay.valid"
                                            (click)="newDay(formObjectDay.value, 'sunday')"><i class="fa fa-check " aria-hidden="true"></i> Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Horario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="schedule.sunday.length == 0" class="text-center">
                                        <td colspan="6">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay eventos el domingo
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of schedule.sunday">
                                        <td width="30%">
                                            <img [src]="gethtmlImage(item.image)" onerror="this.src='assets/no-product.png';" style="width: 70%;">
                                        </td>
                                        <td width="30%">{{item.name}}</td>
                                        <td width="30%">{{item.timeFrom}}-{{item.timeTo}}</td>
                                        <td width="10%" class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDay(item, 'sunday')">
                                                <i class="fa fa-close" aria-hidden="true" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <button class="btn primary mb-4 mt-4 float-right" type="button" block [disabled]="!formObject.valid"
                (click)="updateValues(formObject.value)"><i class="fa fa-check " aria-hidden="true"></i> GUARDAR
            </button>
        </form>
    </div>
</div>
