<div class="container p-4">

    <div class="row align-items-center">
        <div class="col-sm-6">
            <h2 class="section-title">
                <i class="fa fa-music icon-primary"></i> Audios</h2>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn primary ml-2" (click)="create()">
            <i class="fa fa-plus"></i> CREAR AUDIO</button>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Título</th>
                    <th>Provincia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Cargador -->
                <tr *ngIf="loading" class="text-center">
                    <td colspan="6">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando audios...
                    </td>
                </tr>
                <!-- Texto cuando no hay resultados  -->
                <tr *ngIf="!loading && items.length == 0" class="text-center">
                    <td colspan="6">
                        <span class="text-muted">
                  <i class="fa fa-close" aria-hidden="true"></i>
                No hay audios para mostrar
              </span>
                    </td>
                </tr>
                <tr *ngFor="let item of items">
                    <td width="40%">{{item.title}}</td>
                    <td width="40%">{{item.province}}</td>
                    <td width="20%" class="text-right">
                        <button type="button" class="btn primary btn-sm mr-2" (click)="edit(item)">
                    <i class="fa fa-pencil" aria-hidden="true" ></i>
                  </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="remove(item)">
                    <i class="fa fa-close" aria-hidden="true" ></i>
                  </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>