<div *ngIf="isMobileResolution == false">
  <div class="container">
    <div class="div1">
        <div class="text">
            <h1>Videos</h1>
        </div>
    </div>
    <div class="line"></div>
    <div class="div2">
      <div class="row">
        <div class="col-8">
          <p class="text">
            En agosto del 2017 Caminitos de Letras Cultura fue galardonado con el premio SUSINI por el
            Consejo de Radio de ARGENTORES de la ciudad de Buenos. Aires a lo mejor de la radio, en el
            mes de octubre 2019 en Azul provincia de Buenos Aires recibió el Premio Nacional a la Radio y
            Televisión “QUIJOTE DE ORO” reconocimiento a los valores y en el año 2020 la Honorable
            Cámara de Diputados de la Nación declaró de interés nacional al Encuentro Nacional de
            Radioteatro y Promoción de Lectura en Radio Tierra del Fuego 2020.
          </p>
        </div>
        <div class="col-4">
            <img src="../../assets/img/image2.png" alt="3" class="image">
        </div>
    </div>
  </div>
    <div class="categories">
      <div class="row">
        <div class="col-4">
          <div class="square" (click)="goToPage('Programas')">
            <h1>Programas</h1>
            <i class="fas fa-microphone"></i>
          </div>
        </div>
        <div class="col-4">
          <div class="square" (click)="goToPage('Presentaciones')">
            <h1>Presentaciones</h1>
            <i class="fas fa-user-friends"></i>
          </div>
        </div>
        <div class="col-4">
          <div class="square" (click)="goToPage('Bandas')">
            <h1>Bandas</h1>
            <i class="fas fa-guitar"></i>
            <!-- https://fontawesome.com/icons?d=gallery&q=camp -->
          </div>
        </div>
      </div>

    </div>
  </div>

  
</div>













<!-- 
  mobile
 -->

 <div *ngIf="isMobileResolution == true">
  <div class="container">
    <div class="div1-mobile">
        <div class="text">
            <h1>Videos</h1>
        </div>
    </div>
    <div class="line"></div>
    <div class="div2-mobile">
      <div class="row">
        <div class="col-12">
          <p class="text">
            En agosto del 2017 Caminitos de Letras Cultura fue galardonado con el premio SUSINI por el
            Consejo de Radio de ARGENTORES de la ciudad de Buenos. Aires a lo mejor de la radio, en el
            mes de octubre 2019 en Azul provincia de Buenos Aires recibió el Premio Nacional a la Radio y
            Televisión “QUIJOTE DE ORO” reconocimiento a los valores y en el año 2020 la Honorable
            Cámara de Diputados de la Nación declaró de interés nacional al Encuentro Nacional de
            Radioteatro y Promoción de Lectura en Radio Tierra del Fuego 2020.
          </p>
        </div>
        <div class="col-12" style="text-align: center;">
            <img src="../../assets/img/image2.png" alt="3" class="image">
        </div>
    </div>
  </div>
    <div class="categories-mobile">
      <div class="row">
        <div class="col-12">
          <div class="square" (click)="goToPage('Programas')">
            <h1 >Programas</h1>
            <i class="fas fa-microphone"></i>
          </div>
        </div>
        <div class="col-12">
          <div class="square" (click)="goToPage('Presentaciones')">
            <h1>Presentaciones</h1>
            <i class="fas fa-user-friends"></i>
          </div>
        </div>
        <div class="col-12">
          <div class="square" (click)="goToPage('Bandas')">
            <h1 >Bandas</h1>
            <i class="fas fa-guitar"></i>
            <!-- https://fontawesome.com/icons?d=gallery&q=camp -->
          </div>
        </div>
      </div>

    </div>
  </div>

</div>