<!-- <div class="top-container"></div> -->
<div class="header">
    
    <div class="container" style="max-width: 100% !important">
        
        
        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <div class="text-left">
                <a routerLink="/home">
                    <img src="assets/img/image2.png" style="height: 4rem;">
                </a>
            </div>
            <a class="navbar-brand" routerLink="/home">
            </a>
            <div class="audio-player" >
                <p>
                <audio autoplay="autoplay" controls="controls" id="audioAJDDHR" preload="auto">
                    <source src="https://chino.republicahosting.com:2165/live" type="audio/mpeg" /> Su navegador no soporta AUDIO.<br />
                </audio> 
                </p>
            </div>
            <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/audios">Audios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/events">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/records">Capacitaciones</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <!-- <iframe *ngIf="iframeVisibility" src="http://192.99.10.29:8457/live" width="100%" scrolling="no" style="border:none; background-color: black; height: 2em;"></iframe> -->

</div>
