<div>
  <div class="container">
    <div class="div1">
        <div class="text">
            <h1>Eventos</h1>
        </div>
    </div>
    <div class="line"></div>
    <div class="div2">
      <div class="row">
        <div class="col-8">
            <p class="text">
                Caminitos de Letras Cultura es un programa radial en el cual se hace homenaje a la poesía en
                todas sus manifestaciones, sus directoras son Julieta Felicioni, Eugenia Felicioni, Claudia
                Valenzuela y Marcela Valenzuela, el programa cuenta con el elenco de Radioteatro Recuerdos y
                el elenco de Teatro Leído Tierra del Fuego. 
                <b>Trabaja promocionando la lectura en radio
                desde el año 2012 hasta la actualidad.</b>
                Transmite todos los martes de 21:00 a 23:00 hs por
                Radio Nacional Ushuaia FM 92.1 TDF.
                
            </p>
        </div>
          <div class="col-4">
              <img src="../../assets/img/image2.png" alt="3" class="image">
          </div>
      </div>
    </div>
    <div class="events">
      <ul class="list">
        <li (click)="goToEvent('eventId')">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/img/map.jpeg" alt="">
            </div>
            <div class="col-8 text">
              <h1>
                ENCUENTRO NACIONAL DE READIOTEATRO Y PROMOCIÓN DE LECTURA EN RADIO
              </h1>
              <h3>
                “Todas las Voces” proyecto que tiene por objetivo transmitir, 
                difundir y valorar las producciones de: radioteatros, cuentos,
                leyendas, mensaje al poblador rural, relato deportivo e historias
                de todas las provincias de nuestro País.
              </h3>
            </div>
          </div>
          <hr class="divider">
        </li>
        <li>
          <div class="row">
            <div class="col-4">
              <img src="../../assets/img/map.jpeg" alt="">
            </div>
            <div class="col-8 text">
              <h1>
                ENCUENTRO NACIONAL DE READIOTEATRO Y PROMOCIÓN DE LECTURA EN RADIO
              </h1>
              <h3>
                “Todas las Voces” proyecto que tiene por objetivo transmitir, 
                difundir y valorar las producciones de: radioteatros, cuentos,
                leyendas, mensaje al poblador rural, relato deportivo e historias
                de todas las provincias de nuestro País.
              </h3>
            </div>
          </div>
          <hr class="divider">
        </li>
      </ul>
    </div>
  </div>

  
  <div class="footer-separator">
    <div class="footer-separator">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md" style="padding-left: 5vh;">
              <img class="mb-2" src="assets/img/image2.png" alt="" width="50" height="50">
              <small class="d-block mb-3 text-muted">&copy; RADIO TANIA</small>
            </div>
            <div class="col-6 col-md">
              <h5>INSTAGRAM</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">@radiotania</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>CONTACTANOS</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">3518484782</a></li>
         
              </ul>
            </div>
            <div class="col-6 col-md">
                <h5>NUSTRO CORREO</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">radiotania@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </footer>   
      </div>
  </div>
</div>