<div *ngIf="isMobileResolution == false">
  <div class="container">
    <div class="div1">
        <div class="text">
            <h1>Eventos</h1>
        </div>
    </div>
    <div class="line"></div>
    <div class="div2">
      <div class="row">
        <div class="col-8">
          <p class="text">
            En agosto del 2017 Caminitos de Letras Cultura fue galardonado con el premio SUSINI por el
            Consejo de Radio de ARGENTORES de la ciudad de Buenos. Aires a lo mejor de la radio, en el
            mes de octubre 2019 en Azul provincia de Buenos Aires recibió el Premio Nacional a la Radio y
            Televisión “QUIJOTE DE ORO” reconocimiento a los valores y en el año 2020 la Honorable
            Cámara de Diputados de la Nación declaró de interés nacional al Encuentro Nacional de
            Radioteatro y Promoción de Lectura en Radio Tierra del Fuego 2020.
          </p>
        </div>
          <div class="col-4">
              <img src="../../assets/img/image2.png" alt="3" class="image">
          </div>
      </div>
    </div>
    <div class="events">
      <ul class="list">
        <li *ngFor="let item of events" (click)="goToEvent(item.id)">
          <div class="row">
            <div class="col-4">
              <img [src]="getImage(item.miniature)" alt="">
            </div>
            <div class="col-8 text">
              <h1>
                {{item.title}}
              </h1>
              <div [innerHTML]="item.resume"></div>
            </div>
          </div>
          <hr class="divider">
        </li>
      </ul>
    </div>
  </div>

</div>









<!-- mobile -->

<div *ngIf="isMobileResolution == true">
  <div class="container">
    <div class="div1-mobile">
        <div class="text-mobile">
            <h1>Eventos</h1>
        </div>
    </div>
    <div class="line-mobile"></div>
    <div class="div2-mobile">
      <div class="row">
        <div class="col-12">
          <p class="text-mobile">
            En agosto del 2017 Caminitos de Letras Cultura fue galardonado con el premio SUSINI por el
            Consejo de Radio de ARGENTORES de la ciudad de Buenos. Aires a lo mejor de la radio, en el
            mes de octubre 2019 en Azul provincia de Buenos Aires recibió el Premio Nacional a la Radio y
            Televisión “QUIJOTE DE ORO” reconocimiento a los valores y en el año 2020 la Honorable
            Cámara de Diputados de la Nación declaró de interés nacional al Encuentro Nacional de
            Radioteatro y Promoción de Lectura en Radio Tierra del Fuego 2020.
          </p>
        </div>
          <div class="col-12" style="text-align: center;">
              <img src="../../assets/img/image2.png" alt="3" class="image-mobile">
          </div>
      </div>
    </div>
    <div class="events-mobile">
      <ul class="list">
        <li *ngFor="let item of events" (click)="goToEvent(item.id)">
          <div class="row">
            <div class="col-12">
              <img [src]="getImage(item.miniature)" alt="">
            </div>
            <div class="col-12 text-mobile">
              <h1 style="font-size: 1.2rem">
                {{item.title}}
              </h1>
              <div style="font-size: 0.8rem;" [innerHTML]="item.resume"></div>
            </div>
          </div>
          <hr class="divider">
        </li>
      </ul>
    </div>
  </div>

  
</div>