<div *ngIf="isMobileResolution == false">
    <div>
        <div class="container">
            <div class="div1">
                <!-- <img src="../../assets/img/image1.png" alt="3" class="image"> -->
    
                <div class="text">
                    <h1>CAMINITOS DE LETRAS CULTURA</h1>
                </div>
                <!-- <div style="height: 1em;"></div> -->
                <div class="bottom">
                    <div class="text" >
                        <h2>
                            WWW.RADIOTANIA.COM
                        </h2>
                    </div>
                </div>
            </div>
            <div class="line">
    
            </div>
    
            <div class="div2">
                <div class="row">
                    <div class="col-8">
                        <p class="text">
                            Caminitos de Letras Cultura es un programa radial en el cual se hace homenaje a la poesía en
                            todas sus manifestaciones, sus directoras son Julieta Felicioni, Eugenia Felicioni, Claudia
                            Valenzuela y Marcela Valenzuela, el programa cuenta con el elenco de Radioteatro Recuerdos y
                            el elenco de Teatro Leído Tierra del Fuego. 
                            <b>Trabaja promocionando la lectura en radio
                            desde el año 2012 hasta la actualidad.</b>
                            Transmite todos los martes de 21:00 a 23:00 hs por
                            Radio Nacional Ushuaia FM 92.1 TDF.
                            <br>
                            <b>
                                En el transcurso de los 8 años, Caminitos de Letras Cultura ha sido declarado de
                                interés Municipal, Provincial y de Interés Educativo. En agosto del 2017 fue
                                galardonado con el premio Susini por el Consejo de Radio de Argentores en la
                                ciudad de Buenos Aires y en el mes de octubre de 2019 obtuvo el Premio
                                Nacional a la Radio y Televisión Quijote de Oro, en Azul, Provincia de Buenos
                                Aires como reconocimiento a los valores.
                            </b>
                            <br>
                            Caminitos de Letras Cultura tiene el agrado de presentar en el 2020 la nueva radio cultural,
                            educativa y federal Radiotania.com
                            <br>
                            Para formar parte de la grilla, participar de capacitaciones y proyectos federales Comunícate:
                            <a href="mailto:radiotania2020@gmail.com" target="_blank">radiotania2020@gmail.com</a>
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../assets/img/image2.png" alt="3" class="image">
                    </div>
                </div>
            </div>

            <div class="sections">
                <div class="row">
                    <div class="col-6" >
                        <div class="container" (click)="goToPage('audios')">
                            <img src="../../assets/img/talleristas/BERENGUER.png" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">Audios</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container" (click)="goToPage('videos')">
                            <img src="../../assets/img/talleristas/BERENGUER.png" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">Videos</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" (click)="goToPage('events')">
                        <div class="container">
                            <img src="../../assets/img/talleristas/BERENGUER.png" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">Eventos</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-6" (click)="goToPage('asd')"> -->
                    <div class="col-6">
                        <div class="container">
                            <img src="../../assets/img/talleristas/BERENGUER.png" alt="Avatar" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">Capacitaciones</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-separator"></div>
</div>

