<div *ngIf="isMobileResolution == false">
  <div class="container">
    <div class="div1">
      <div class="text">
          <h1>Audios</h1>
      </div>
    </div>
    <div class="line"></div>
    <div class="title">
        <div class="row">
          <div class="col-8">
            <h1>
              {{province}}
            </h1>
          </div>
          <div class="col-4">
            <i class="fas fa-volume-up"></i>
          </div>
        </div>
      </div>
    <div class="audios">
      <ul class="list">
        <li *ngFor="let item of audios">
          <div class="element">
            <h1>
              {{item.title}}
            </h1>
            <div [innerHTML]="item.description"></div>
            <audio controls controlsList="nodownload" [src]="getAudio(item.audio)" (type)="getType(item.audio)" >
                Your browser does not support the audio element.
            </audio>
            <hr>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




















<!-- mobile -->


<div *ngIf="isMobileResolution == true">
  <div class="container">
    <div class="div1-mobile">
      <div class="text">
          <h1>Audios</h1>
      </div>
    </div>
    <div class="line"></div>
    <div class="title-mobile">
        <div class="row">
          <div class="col-8">
            <h1>
              {{province}}
            </h1>
          </div>
          <div class="col-4">
            <i class="fas fa-volume-up"></i>
          </div>
        </div>
      </div>
    <div class="audios-mobile">
      <ul class="list">
        <li *ngFor="let item of audios">
          <div class="element">
            <h1>
              {{item.title}}
            </h1>
            <div [innerHTML]="item.description"></div>
            <audio controls controlsList="nodownload" [src]="getAudio(item.audio)" (type)="getType(item.audio)" >
                Your browser does not support the audio element.
            </audio>
            <hr>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>
